@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --background-image-banner: url("/assets/images/banner.png");
  --background-image-paper: url("/assets/images/test-2.png");
  --background-image-footer: url("/assets/images/test-3.png");
  --background-image-stars: url("/assets/images/stars.png");
  --color-orange: #C77E1C;
  --color-blue: #455966;
  --color-dark: #1A1A1A;
  --font-oldFont: var(--font-oldFont);
  --font-geist-sans: var(--font-geist-sans);
  --color-gray: #525252
}


@utility container {
  margin-inline: auto;
  padding: 0;
  max-width: 75vw;

  @variant sm {
    max-width: 60vw;
  }
}

html {
  scroll-behavior: smooth;
}